@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script");

* {
  box-sizing: border-box;
}

:root {
  --dark: #030608;
  --light: #fff;
  --background1: #271d3f;
  --background2: rgba(216, 216, 216, 0.904);
  --background3: rgb(83, 75, 117);
  --color1: rgb(38, 60, 255);
  --color2: rgb(188, 190, 56);
  --color3: rgb(238, 56, 56);
}

html {
  font-family: 'Poppins', Lato, Tahoma, sans-serif;
  width: 100%;
  min-height: 100%;
}

.hero {
  background: var(--color3);
  color: var(--light);
  font-family: 'Poppins', sans-serif;
}

.hero .title {
  font-size: 5rem;
  color: whitesmoke;
}

.hero .subtitle {
  padding: 5px;
  color: whitesmoke;
}

.main-content {
  padding-top: 2rem;
  color: #3c4172;
  font-family: 'Poppins', sans-serif;
}

.main-content .section-dark {
  margin: 30px;
  background-color: var(--background2);
  padding: 60px 0px;
}


.main-content .section-dark.work {
  padding: 40px;
}

@media (max-width: 599px) {
  .main-content .section-dark.work {
    padding: 75px 20px;
  }
}

.main-content .section-dark.work .work-img {
  margin-bottom: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content .section-light {
  margin: 30px;
  padding: 30px;
  background-color: var(--background2);
}

.main-content .section-light.about-me {
  padding-bottom: 20px;
}

.main-content .section-light.about-me .is-larger {
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .main-content .section-light.about-me .about-links {
    text-align: center;
  }
}

#aboutmeimg {
  padding: 10px;
}

.work-title {
  font-size: 1.6rem;
}

.main-content .section-title {
  color: var(--color1);
  text-transform: uppercase;
  font-size: 1.8rem;
  padding-bottom: 30px;
}

.footer {
  bottom: 0;
  width: 100vw;
  padding: 0;
  height: 50px;
  text-align: center;
  background: var(--dark);
  color: var(--light);
  padding-top: 10px;
}

.navbar-item {
    display: flex;
}
  
.navbar,
.navbar-menu,
.navbar-end {
    background-color: var(--dark);
    color: var(--light);
    align-items: stretch;
    display: flex;
    padding: 0;
}
  
.navbar-menu{
    flex-grow: 1;
    flex-shrink: 0;
}

.navbar-end{
    justify-content: flex-end;
    margin-left: auto;
}

